        <section class="relative py-12 bg-black sm:pb-16 lg:pb-20 xl:pb-24">
            <div class="px-4 mx-auto relativea sm:px-6 lg:px-8 max-w-7xl">
                <div class="grid items-center grid-cols-1 gap-y-12 lg:grid-cols-2 gap-x-16">
                    <div>
                        <p class="italic text-4xl font-normal text-white sm:text-5xl lg:text-6xl xl:text-7xl">
                            Connecting You With The Best For Your Pets
                        </p>
                    </div>

                    <div class="place-items-center">
                        <div class="h-fit w-fit transition-all duration-200 rounded-full -inset-px bg-gradient-to-r from-cyan-500/30 to-purple-500/30 group-hover:shadow-lg group-hover:shadow-cyan-500/50">
                            <div class="flex justify-between">
                                <img class="w-1/4 border-4 border-cyan-500 rounded-full"
                                    src="./assets/cat-eating.jpg" alt="">
                                    <p class="text-white text-center self-center md:text-2xl lg:text-lg">Get personalized suggestions that your pets will love!</p>
                                <img class="w-1/4 border-4 border-cyan-500 rounded-full" src="./assets/pet-w-toy.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>

                    <div class="place-items-end">
                        <div class="h-fit w-fit transition-all duration-200 rounded-full -inset-px bg-gradient-to-r from-cyan-500/30 to-purple-500/30 group-hover:shadow-lg group-hover:shadow-cyan-500/50">
                            <div class="flex justify-between">
                                <img class="w-1/4 border-4 border-cyan-500 rounded-full"
                                    src="./assets/cat-w-toy.avif" alt="">
                                    <p class="text-white text-center self-center md:text-2xl lg:text-lg">Find your pets new favorite food, toys, treats and more!</p>
                                <img class="w-1/4 border-4 border-cyan-500 rounded-full" src="./assets/dog-eating1.avif"
                                    alt="">
                            </div>
                        </div>
                    </div>

                    <div>
                        <p class="italic text-2xl font-normal text-white sm:text-2xl lg:text-4xl xl:text-5xl">
                            Browse through our carefully curated selection of goods based off of your individual pet needs!
                        </p>
                    </div>



                </div>
        </section>