        {{!-- <section class="relative py-12 bg-black sm:pb-16 lg:pb-20 xl:pb-24">
            <div class="px-4 mx-auto relativea sm:px-6 lg:px-8 max-w-7xl">
                <div class="grid items-center grid-cols-1 gap-y-12 lg:grid-cols-2 gap-x-16">
                    <div>
                        <p class="italic text-4xl font-normal text-white sm:text-5xl lg:text-6xl xl:text-7xl">
                            Connecting You With The Best For Your Pets
                        </p>
                    </div>

                    <div class="place-items-center">
                        <div class="h-fit w-fit transition-all duration-200 rounded-full -inset-px bg-gradient-to-r from-cyan-500/30 to-purple-500/30 group-hover:shadow-lg group-hover:shadow-cyan-500/50">
                            <div class="flex justify-between">
                                <img class="w-1/4 border-4 border-cyan-500 rounded-full"
                                    src="./assets/cat-eating.jpg" alt="">
                                    <p class="text-white text-center self-center md:text-2xl lg:text-lg">Get personalized suggestions that your pets will love!</p>
                                <img class="w-1/4 border-4 border-cyan-500 rounded-full" src="./assets/pet-w-toy.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>

                    <div class="place-items-end">
                        <div class="h-fit w-fit transition-all duration-200 rounded-full -inset-px bg-gradient-to-r from-cyan-500/30 to-purple-500/30 group-hover:shadow-lg group-hover:shadow-cyan-500/50">
                            <div class="flex justify-between">
                                <img class="w-1/4 border-4 border-cyan-500 rounded-full"
                                    src="./assets/cat-w-toy.avif" alt="">
                                    <p class="text-white text-center self-center md:text-2xl lg:text-lg">Find your pets new favorite food, toys, treats and more!</p>
                                <img class="w-1/4 border-4 border-cyan-500 rounded-full" src="./assets/dog-eating1.avif"
                                    alt="">
                            </div>
                        </div>
                    </div>

                    <div>
                        <p class="italic text-2xl font-normal text-white sm:text-2xl lg:text-4xl xl:text-5xl">
                            Browse through our carefully curated selection of goods based off of your individual pet needs!
                        </p>
                    </div>



                </div>
        </section> --}}

            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3 text-white">Connecting You With The Best For Your Pets</h1>
                                <p class="lead fw-normal text-muted mb-4">As pet owners we are always on the lookout for right foods, toys, treats and more for our pets. We hope we can facilitate finding those items that your pet will love!</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="./assets/cat-eating.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Get personalized suggestions that your pets will love!</h2>
                            <p class="lead fw-normal text-muted mb-0"> We wanted to create an easy to use platform that would give you a chance to find items that would best suit your pets needs.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="./assets/cat-w-toy.avif" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder text-white">Find your pets new favorite food, toys, treats and more!</h2>
                            <p class="lead fw-normal text-muted mb-0">Create a complete profile for your furry friend, including their breed, age, and dietary needs. Then, browse our top recommended products for your pet's specific needs, from food and toys to grooming supplies and health supplements.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our team</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">

                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="#" alt="..." />
                                <h5 class="fw-bolder">Manuel Rodriquez</h5>
                                <div class="fst-italic text-muted">Frontend</div>
                            </div>
                        </div>

                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="#" alt="..." />
                                <h5 class="fw-bolder">Zeus Cordeiro</h5>
                                <div class="fst-italic text-muted">Frontend</div>
                            </div>
                        </div>

                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="#" alt="..." />
                                <h5 class="fw-bolder">Adrian Bruno</h5>
                                <div class="fst-italic text-muted">Frontend</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="#" alt="..." />
                                <h5 class="fw-bolder">Max Fell</h5>
                                <div class="fst-italic text-muted">Backend</div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="#" alt="..." />
                                <h5 class="fw-bolder">Rose Black</h5>
                                <div class="fst-italic text-muted">Backend</div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="#" alt="..." />
                                <h5 class="fw-bolder">Gerardo Ormeno</h5>
                                <div class="fst-italic text-muted">Backend</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>