
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3 text-white">Connecting You With The Best For Your Pets</h1>
                                <p class="lead fw-normal text-muted mb-4">As pet owners we are always on the lookout for right foods, toys, treats and more for our pets. We hope we can facilitate finding those items that your pet will love!</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="./assets/cat-eating.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Get personalized suggestions that your pets will love!</h2>
                            <p class="lead fw-normal text-muted mb-0"> We wanted to create an easy to use platform that would give you a chance to find items that would best suit your pets needs.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="./assets/cat-w-toy.avif" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder text-white">Find your pets new favorite food, toys, treats and more!</h2>
                            <p class="lead fw-normal text-muted mb-0">Create a complete profile for your furry friend, including their breed, age, and dietary needs. Then, browse our top recommended products for your pet's specific needs, from food and toys to grooming supplies and health supplements.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our team</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and finding the best for pets</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/G.png" alt="..." />
                                <h5 class="fw-bolder">Gerardo Ormeno</h5>
                                <div class="fst-italic text-muted">Backend</div>
                            </div>
                        </div>

                       <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/M.png" alt="..." />
                                <h5 class="fw-bolder">Max Fell</h5>
                                <div class="fst-italic text-muted">Backend</div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/R.png" alt="..." />
                                <h5 class="fw-bolder">Rose Black</h5>
                                <div class="fst-italic text-muted">Backend</div>
                            </div>
                        </div>

                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/A.png" alt="..." />
                                <h5 class="fw-bolder">Adrian Bruno</h5>
                                <div class="fst-italic text-muted">Frontend</div>
                            </div>
                        </div>                        

                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/M.png" alt="..." />
                                <h5 class="fw-bolder">Manuel Rodriquez</h5>
                                <div class="fst-italic text-muted">Frontend</div>
                            </div>
                        </div>

                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/Z.png" alt="..." />
                                <h5 class="fw-bolder">Zeus Cordeiro</h5>
                                <div class="fst-italic text-muted">Frontend</div>
                            </div>
                        </div>                        

                    </div>
                </div>
            </section>
        </main>